<link id="theme" rel="stylesheet" type="text/css" href="/static/stylesheets/darkblue.css" />
<div id="banner"><center>Welcome to Collaboration Group Beta 1.0</center></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}
  function swapStyleSheet() {
    var sheet = "";
    var request =  $.ajax({
      type: "GET",
      url: "/getTheme"
    });
    request.done(function(data){
      document.getElementById("theme").setAttribute("href", data+"?version="+String.valueOf(getRandomInt(1000000)));  
    });
    request.fail(function (jqXHR, textStatus) {
      alert('bruh')
  });
}
window.onload = swapStyleSheet;
</script>